:root {
    --main-backgound: #ffffff;
    --main-text: #000000;
    --border: #cccccc;

    --content-bar: #52ae70;

    --sidebar-backgound: #f1f0ed;
    --sidebar-shader: #bbbbbb;

    --header-footer-background: #121212;
    --header-footer-text: #ffffff;

    --menu-background: #3b3b3b;
    --menu-el-text: #ffffff;
    --menu-el-hover-background: #2c2c2c;
    --menu-el-active-background: #1f1f1f;

    --box-shadow: #000000;

    --auth-button-background: #008246;
    --auth-button-text-shadow: #44a670;
    --auth-button-light-border: #00bb00;
    --auth-button-dark-border: #006400;
    --auth-button-active-background: #00944f;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    /* color: var(--main-text); */
}

header, footer {
    height: 65px;
    width: 100%;
    background: var(--header-footer-background);
    color: var(--header-footer-text);
    padding: 10px 0px;
}

.headerContent, .footerContent {
    min-width: 800px;
    max-width: 1140px;
    height: 45px;
    margin: 0px auto;
    display: flex;
}

.mainLogo {
    line-height: 45px;
    cursor: pointer;
}

.advertisement {
    text-align: center;
    flex: 1;
}

.authorization {
    display: flex;
}

.auth-button {
    color: #121212;
    text-shadow: 0 1px 2px var(--auth-button-text-shadow);
    font-weight: bold;
    font-size: 12px;
    background-color: var(--auth-button-background);
    border: 1px solid;
    border-color: 
        var(--auth-button-light-border) 
        var(--auth-button-dark-border) 
        var(--auth-button-dark-border) 
        var(--auth-button-light-border);
    border-radius: 10px;
    padding: 8px 12px;
    margin: 6px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.auth-button:active {
    border-color:
        var(--auth-button-dark-border)
        var(--auth-button-light-border)
        var(--auth-button-light-border)
        var(--auth-button-dark-border);
}

.auth-button:hover {
    background-color: var(--auth-button-active-background);
}

.footerContent {
    display: flex;
}

.miniLogo, .juckiechan-logo {
    width: 45px;
    height: 45px;
}

#miniLogo, #juckiechan-logo {
    width: 100%;
    height: 100%;
}

.juckiechan-logo:hover #juckiechan-logo {
    animation: juckiechan-logo-animation 1s infinite linear;
}

@keyframes juckiechan-logo-animation {
    0% {
        transform: scaleX(1);
    }
    10% {
        transform: scaleX(0.95);
    }
    50% {
        transform: scaleX(0);
    }
    90% {
        transform: scaleX(0.95);
    }
    100% {
        transform: scaleX(1);
    }
}

.copyright,
.contacts {
    padding: 6px;
}

.contacts{
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.contacts a {
    color: white;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

body {
    background: linear-gradient(180deg, #352bf3, #7caaff 600px);
    position: relative;
}

.spacer {
    height: 20px;
}

.topMenu,
.bottomMenu {
    background: var(--menu-background);
    font-weight: bold;
    min-width: 800px;
    max-width: 1140px;
    height: 30px;
    margin: 0px auto;
    padding: 2px 0px;
    border-radius: 8px;
    display: flex;
    box-shadow: -5px 5px 20px -10px var(--box-shadow);
}

.topMenuEl,
.bottomMenuEl {
    border-radius: 8px;
    padding: 0px 10px;
    margin: 0px 2px;
    line-height: 26px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}

.topMenuEl a,
.bottomMenuEl a {
    text-decoration: none;
    color: var(--menu-el-text);
}

.topMenuEl:hover,
.bottomMenuEl:hover {
    background: var(--menu-el-hover-background);
}

.topMenuEl:active,
.bottomMenuEl:active {
    background: var(--menu-el-active-background);
}

.container {
    min-height: 1080px;
    min-width: 800px;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    border-radius: 8px;
    box-shadow: -5px 5px 20px -10px var(--box-shadow);
}

.sidebar {
    background: linear-gradient(270deg, var(--sidebar-shader), var(--sidebar-backgound) 20px);
    width: 330px;
    border-radius: 8px 0px 0px 8px;
}

.sidebarBlock {
    border: 1px solid var(--border);
    background-color: var(--main-backgound);
    border-radius: 8px;
    margin: 15px 25px 15px 15px;
}

.sidebarBlockHeader {
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    border-bottom: 1px solid var(--border);
    font-size: 17px;
}

.sidebarBlockContent {
    padding: 15px;
}

.content {
    background-color: var(--main-backgound);
    border-radius: 0px 8px 8px 0px;
    flex: 1;
}

.content-bar {
    background-color: var(--content-bar);
    height: 16px;
    margin: 15px;
    border-radius: 8px;
}

/* posts */

.post-wrapper:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.post {
    margin: 15px;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.post-header-wrapper {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    gap: 10px;
}

.post-header {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-name {
    display: block;
    font-size: 16px;
    color: var(--main-text);
    text-decoration: none;
}

.post-name:hover {
    text-decoration: underline;
}

.post-info, .post-category {
    display: block;
    font-size: 11px;
    color: gray;
}

.post-info a {
    font-size: 11px;
    color: #40aabb;
    text-decoration: none;
}

.post-info a:hover {
    text-decoration: underline;
}

.post-comments {
    background: url(/pictures/comments-icon.png);
    color: #333333;
    padding: 2px 3px 10px 3px;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
    width: 50px;
    text-align: center;
}

.post-content {
    text-align: center;
}

.post-content p {
    margin-bottom: 5px;
}

.post-content img {
    margin: 10px 0;
}

.post-footer {
    height: 35px;
    /* border: 1px solid var(--border); */
    background: var(--sidebar-backgound);
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.post-rating, .post-details {
    color: #ffffff;
    font-size: 11px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 90px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    margin-right: 4px;
}

.post-rating {
    border: 1px solid #006090;
    box-shadow: inset 0 1px #66bde8;
    background: #4385b4;
}

.post-details {
    border: 1px solid #283b22;
    box-shadow: inset 0 1px #409925;
    background: #005428;
}

.post-details:hover {
    text-decoration: underline;
}

.post-rating-down, .post-rating-up {
    /* position: relative; */
    cursor: pointer;
    border: none;
    height: 12px;
    width: 12px;
    background: url(/pictures/rating-icons.png) no-repeat;
}

.post-rating-down::after, .post-rating-up::after {
    content: "";
    /* position: absolute; */
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
}

.post-rating-down {
    background-position: -12px -12px;
}
.post-rating-up {
    background-position: 0 -12px;
}
.post-rating-down:hover {
    background-position: -12px 0;
}
.post-rating-up:hover {
    background-position: 0 0;
}


/* @media (prefers-color-scheme: dark) {
    :root {
        --main-backgound: #222222;
        --main-text: #ffffff;
        
        --border: rgb(0, 0, 0);
    
        --content-bar: #52ae70;
    
        --sidebar-backgound: #131313;
        --sidebar-shader: #000000;
    
        --header-footer-background: #121212;
        --header-footer-text: #ffffff;
    
        --menu-background: #3b3b3b;
        --menu-el-text: #ffffff;
        --menu-el-hover-background: #2c2c2c;
        --menu-el-active-background: #1f1f1f;
    
        --box-shadow: #000000;
    
        --auth-button-background: #008246;
        --auth-button-text-shadow: #44a670;
        --auth-button-light-border: #00bb00;
        --auth-button-dark-border: #006400;
        --auth-button-active-background: #00944f;
    } 
} */
