.message-box {
    height: 350px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: auto;
    color: black;
}

.message {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px;
}

.message-info {
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.user-photo {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #a5cae4;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.user-photo img {
    border-radius: 2px;
    width: 34px;
    height: 34px;
}

.chat-user-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    border-top-right-radius: 6px;
    height: 34px;
    background-color: #f0f7fc;
    margin-right: 2px;
    padding-left: 6px;
}

.chat-user-info a {
    font-size: 13px;
    color: #3333FF;
}

.bottom-border {
    margin-top: 4px;
    border-bottom: 1px solid #dbe8ed;
}

.user-name[data-role="admin"] {
    color: #ff0000;
}

.user-name[data-role="moderator"] {
    color: #ff8c00;
}

.user-name[data-role="troll"] {
    color: #79c403;
}

.user-name[data-role="vip"] {
    color: #8c00ff;
}

.user-name[data-role="user"] {
    color: #0000ff;
}

.user-name[data-role="guest"] {
    color: #8b8b8b;
}

.sending-time {
    font-size: 11px;
    color: #969696;
}

.message-content {
    display: block;
    flex-shrink: 0;
    text-align: left;
    padding: 5px 3px 3px 3px;
    word-wrap: break-word;
}

.chat-input {
    border-radius: 4px;
    border-color: lightgrey;
    width: 100%;
    padding: 5px;
    min-height: 60px;
	max-height: 300px;
    outline: none;
    resize: vertical;
}
